p.ex1 {
  /* border: 5px solid white; */
  padding-bottom: 5%;
}

.space {
  margin: 2%;
}

img.rresize {
  width: 360px;
  height: 580px;
}

.button-group {
  padding-top: 5%;
  padding-bottom: 5%;
}
